<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <form action="/contact/new" method="post">
    <fieldset>
      <legend>New Contact</legend>
      <p <label for="name">Name</label>
        <input type="text" name="name">
      </p>
      <p>
        <label for="email">Email</label>
        <input type="email" name="email">
      </p>
      <button>Save</button>
    </fieldset>
  </form>

</body>

</html>
